#header{
	@extend %header;
	background-color: transparent;
	position: fixed;
	transition: all 0.48s ease;
	z-index: 490;

	.logo{
		position: relative;
		height: 50px;
		width: 195px;
		z-index: 300;

		img{
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	&.regular-bg{
		background-color: $body-bg
	}

	.menu-button{
		display: flex;
		align-items: center;
		transition: all 0.48s ease;

		&__hamburger{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-right: 10px;
			z-index: 490;
		}

		&__text{
			font-size: 1.3rem;
			line-height: 1rem;
			color: $body-bg;
			transition: all 0.48s ease;

			&.regular-bg{
				color: $black;
			}
		}
	}
}

@media screen and (max-width: 768px){
	#header{
		height: $header-mobile-height;

		.logo img{
			height: 25px;
		}
	}
}
