/*
|--------------------------------------------------------------------------
| Ajoute les déclaration des polices
|--------------------------------------------------------------------------
|
*/
@font-face{ @include font-face(absara-thin);}
@font-face{ @include font-face(absara-thin-italic);}
@font-face{ @include font-face(absara-regular);}
@font-face{ @include font-face(absara-italic);}
@font-face{ @include font-face(absara-bold);}
@font-face{ @include font-face(absara-bold-italic);}

@font-face{ @include font-face(dinLight);}
@font-face{ @include font-face(dinMedium);}
@font-face{ @include font-face(dinBold);}
@font-face{ @include font-face(dinRegular);}

@font-face{ @include font-face(PFDinTextStd-Bold);}
@font-face{ @include font-face(PFDinTextStd-ExtraBlack);}
@font-face{ @include font-face(PFDinTextStd-Regular);}


/*
|--------------------------------------------------------------------------
| Définition des styles typographiques de bases
|--------------------------------------------------------------------------
|
*/

/*
|-----------------
| Police Absara
|-----------------
*/
.thin{
    font-family: "absara-thin", "Arial", sans-serif;
    @extend %reset-font;
}

.thin-italic{
    font-family: "absara-thin-italic", "Arial", sans-serif;
    @extend %reset-font;
}

.regular{
    font-family: "absara-regular", "Arial", sans-serif;
    @extend %reset-font;
}

.italic{
    font-family: "absara-italic", "Arial italic", sans-serif;
    @extend %reset-font;
}

.bold{
    font-family: "absara-bold", "Arial bold", sans-serif;
    @extend %reset-font;
}

.bold-italic{
    font-family: "absara-bold-italic", "Arial bold", sans-serif;
    @extend %reset-font;
}


/*
|-----------------
| Police Din
|-----------------
*/
.din-light{
    font-family: "dinLight", "PFDinTextStd-Regular", "Arial", sans-serif;
}

.din-regular{
    font-family: "PFDinTextStd-Regular", "Arial", sans-serif;
}

.din-bold{
    font-family: "PFDinTextStd-Bold", "Arial Bold", sans-serif;
}

.din-black{
    font-family: "PFDinTextStd-ExtraBlack", "Arial Black", sans-serif;
}

/*
|--------------------------------------------------------------------------
| Titres
|--------------------------------------------------------------------------
*/
.titre-regular{
    @extend .din-regular;
    @extend %titre;
}

.titre-bold{
    @extend .din-bold;
    @extend %titre;
}

.titre-black{
    @extend .din-black;
    @extend %titre;
}

/*
|--------------------------------------------------------------------------
| Styles partagés
|--------------------------------------------------------------------------
*/
.black{
    color: $black;
}

.white{
    color: $white;
}

.cap{
    text-transform: uppercase;
}

%reset-font{
    font-weight: normal;
    font-style: normal;
}

%titre{
    @extend %reset-font;
    @extend .cap;
}

%chapeau{
    @extend .titre-black;
    @extend .black;
    font-size: 1.3rem;
    margin-bottom: 15px;
}


