#contact{
	.formulaire{
		max-width: 40%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		margin: 0 auto;
		margin-top: 30px;

		.pigeon{
			width: 100%;
			display: flex;
			justify-content: center;

			img{
				display: block;
				margin: 0;
				margin-bottom: -2px;
			}
		}

		.subscribe{
			margin-bottom: 30px;

			label{
				text-decoration: underline;
			}
		}

		.button{
			width: 100%;
			border: 1px solid $black;
			border-radius: 0;
			@extend .din-black;
			font-size: 1.1rem;
			color: $body-bg;
			background-color: $black;
			transition: all 0.3s ease;

			&.is-success{
				background-color: #3CA01F;
			}

			&.is-danger{
				background-color: #DE200E;
			}
		}

		.input{
			border: 1px solid $black;
			border-radius: 0;
			margin-bottom: 10px;
			display: flex;
			min-height: 40px;
			height: auto;
			background-color: $body-bg;

			&.message textarea{
				height: 150px;
			}

			input, textarea{
				height: 100%;
				@extend .regular;
				flex: 1;
				font-size: 1rem;
				border: none;
				background-color: transparent;
				outline: none;
			}

			span.help{
				min-width: 250px;
				text-align: right;
			}
		}
	}

	.contact{
		margin-top: 45px;
		padding: 70px 0;
		background-color: #FFF;
		display: flex;
		align-items: center;
		flex-direction: column;

		.info-com{
			@extend .bold;
			text-align: center;
		}

		.email{
			margin-top: 15px;

			a{
				color: $black;
				text-decoration: underline;

				&:hover{
					text-decoration: none;
				}
			}
		}

		.add{
			line-height: 1.4rem;
		}

		.separator{
			margin: 17px 0;
		}

		.name{
			@extend .din-black;
		}

		.phone{
			margin-top: 25px;
		}
	}
}

@media screen and (max-width: $desktop){
	#contact{
		.formulaire{
			max-width: 80%;
		}
	}
}

@media screen and (max-width: $tablet){
	#contact{
		.formulaire{
			max-width: 100%;
		}
	}
}


@media screen and (max-width: $phone){
	#contact{
		.contact{
			font-size: 1.3rem;

			.info-com{
				max-width: 70%;
			}
		}
	}
}
