#designer{
	.subtitle{
		@extend .din-regular;
		font-size: 1.6rem;
		text-transform: uppercase;

		@media screen and (max-width: $phone){
			font-size: 1.5rem;
		}
	}

	.entete{
		display: flex;
		margin-top: 75px;
		margin-bottom: 60px;

		.image, .description, .citation{
			flex: 1;
		}

		.image{
			margin-right: 2%;
		}

		.description{
			margin-right: 2%;

			.texte2{
				margin-top: 35px;
			}

			.citation{
				margin: 40px 0;
			}
		}

		.citation{
			font-size: 2rem;
			@extend .thin-italic;
		}

		&.no-citation{
			.description{
				margin-right: 0;
			}
		}

		@media screen and (max-width: $phone){
			flex-direction: column;

			.image{
				margin-right: 0%;
				margin-bottom: 30px;
			}

			.description{
				margin-right: 0;
				margin-bottom: 30px;

				.citation{
					font-size: 1.8rem;
				}
			}
		}
	}

	.collections{
		background-color: white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 30px;
		padding-bottom: 30px;

		.titre{
			@extend %chapeau;
			font-size: 1.7rem;
		}

		.thumbs{
			display: flex;
			padding: 0 20px;

			.collection{
				max-width: 250px;
				flex: 1;
				margin-right: 20px;
				cursor: pointer;

				&:last-child{
					margin-right: 0;
				}

				img{
					width: 100%;
				}

				.name{
					@extend %chapeau;
					font-size: 1rem;
				}
			}
		}

		@media screen and (max-width: $phone){
			.titre{
				font-size: 1.4rem;
			}

			.thumbs{
				flex-direction: column;

				.collection{
					max-width: 100%;
					margin-right: 0;
				}
			}
		}
	}

	.dates-images{
		display: flex;
		margin-top: 70px;

		.dates{
			flex: 1;
			margin-right: 20px;
			border-top: 1px solid black;
			padding-top: 20px;

			p{
				margin: 0;
			}

			.title{
				@extend %chapeau;
				font-size: 1.4rem;
			}

			strong{
				color: black;
				@extend .bold;
			}
		}

		.image{
			flex: 2;

			img{
				width: 100%;
			}
		}

		&.only-dates-text{
			display: flex;
			justify-content: flex-end;

			.dates{
				flex: none;
				width: 66%;
				margin-right: 0;
			}
		}

		@media screen and (max-width: $tablet){
			.image{
				flex: 1;
			}


			&.only-dates-text{
				.dates{
					width: 100%;
				}
			}
		}

		@media screen and (max-width: $phone){
			flex-direction: column;

			.dates{
				width: 100%;
				margin-bottom: 30px;
			}

			.image{
				width: 100%;
			}
		}
	}

	.images{
		display: flex;
		flex-wrap: wrap;

		.image{
			width: 50%;
			margin-top: 50px;
			display: flex;
			justify-content: flex-end;

			.content{
				width: 100%;

				img{
					width: 100%;
				}
			}


			&:nth-child(4n+2){
				.content{
					width: 66.666%;
				}
			}

			&:nth-child(4n+3){
				justify-content: flex-start;

				.content{
					width: 66.666%;
				}
			}
		}

		@media screen and (max-width: $tablet)
		{
			.image{
				width: 49%;

				&:nth-child(2n+1){
					margin-right: 2%;
				}

				&:nth-child(4n+2){
					.content{
						width: 100%;
					}
				}

				&:nth-child(4n+3){
					.content{
						width: 100%;
					}
				}
			}
		}


		@media screen and (max-width: $phone)
		{
			flex-direction: column;

			.image{
				width: 100%;
				margin-top: 30px;
			}
		}
	}
}
