#telechargements_types{
	.titre-page{
		margin-bottom: 105px;
	}

	.telechargements_types__liste{
		max-width: 500px;
		margin: 0 auto;
	}

	.type{
		@extend %chapeau;
		height: 70px;
		border-top: 2px solid $black;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		a{
			color: $black;
		}
	}

}
