body{
    min-height: 100vh;
    background-color: $white;
    font-family: "Lato-Regular", "Arial", sans-serif;
}

span.icon.clickable{
    cursor: pointer;
}


.page-titre{
    margin-top: 20px;
}

a{
    color: $black;
    @extend .regular;
}


h1{
    @extend .bold;
    font-size: 2rem;
}


@include mobile{
    .container{
        padding: 0 40px;
    }
}

@include tablet-only{
    .container{
        padding: 0 40px;
    }
}
