#traductions-content{
	&>.content{
		flex-direction: column;
		height: auto;

		h1{
			display: flex;
			margin-bottom: 25px;
		}

		.control{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			margin-top: 25px;
			min-width: 330px;

			.label{
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
	}
}

@screen xl{
	#traductions-content{
		&>.content{
			flex-direction: row;
			height: 70px;

			h1{
				margin:0;
				padding:0;
				margin-right: 10vw;
				align-items: center;
			}

			.control{
				margin-top: 0;
				margin-left: 50px;
				justify-content: flex-end;
			}
		}
	}
}
